name: Submodules Sync

# Controls when the workflow will run
on:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    sync:
        name: Submodules Sync

        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
        defaults:
            run:
                shell: bash

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            -   uses: actions/checkout@v2
                with:
                    token: ${{ secrets.CI_TOKEN }}
                    submodules: true

            # Update references
            -   name: Git Submodule Update
                run: |
                    git pull --recurse-submodules
                    git submodule update --remote --recursive

            -   name: Commit update
                run: |
                    git config user.email "actions@github.com"
                    git config user.name "GitHub Actions - update submodules"
                    git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
                    git commit -am "Auto updated submodule references" && git push || echo "No changes to commit"
